################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MMORPG/Assets/Resources/Modern UI Pack
